.DS_store
venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# ignore images and BMP
/data/**/*.BMP
/data/**/*.jpg
/data/**/*.jpeg
/data/**/*.png

/dataset_split/**/*.BMP
/dataset_split/**/*.jpg
/dataset_split/**/*.jpeg
/dataset_split/**/*.png